@using RequireJSWithMVC.Extensions
<h2>Page 1</h2>

<p>
    The current date/time is <span id="currentDateTime"></span>.
</p>

@section scripts
{
    @Html.InitPageMainModule("main-currentDateTime")
}